<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-4">
        <form role="form" method="POST" action="/SavePost">
            <input type="hidden" name="id" value="{{.Id}}"/>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{.Title}}"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" id="content" name="content">{{.Content}}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        {{ if .Id }}
            <a class="btn btn-danger" href="/delete/{{.Id}}">Delete</a>
        {{ end }}
        </form>
    </div>
</div>